* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{ 
    font-family:sans-serif;
}

/*header*/
header{
    font-family:sans-serif;
    text-align: center;
    margin: 25px auto; 
    color: hsl(338.78deg 77.02% 53.92%);
    font-size: larger;
    padding-right: 25px;
}

/*main*/
main > div{
    margin: 10px;
}
div > a{
    text-decoration: none;
    color: hsl(197.43deg 73.06% 48.04%);
    margin-top: 3px;
}
div > img{
    height: 80px;
    max-width: 100%;
    float: left;
    margin-right: 10px;
}
div > h2,p,a{
    font-size:smaller;
    float: left;
}
div > h2,p{
    margin-top: 5px;
    color: white;
    padding-top: 3px;
}
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}
.container{
    width: 1000px;
    margin: 15px auto;
    padding: 15px;
    text-align: center;
}
.cards{
    width:calc(100% / 3 - 30px);
    margin: 10px;
    background-color:black;
    float: left;
}
#main-text{
    font-size: 15px;
    margin-bottom: 35px;
    color: black;
    margin-right: 30px;
    padding-right: 5px;
}
.middle-text{
    width:calc(100% / 2);
    text-align: left;
}
